.third-section{
    padding:100px;
}

.third-section h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 2rem;
}

.third-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-wrapper img{
    height: 800px;
}

.section-content{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    color:#fff;
    width: 500px;
    padding: 0 0 0 100px;
}

.section-content h2{
    font-size: 40px;
}

.section-content img{
    height: 150px;
}

.section-content li{
    font-size: 20px;
}

@media screen and (max-width:500px) {
    .third-wrapper{
        display: block;
    }
    .third-section{
        padding:0px;
        margin-top: 100px;
    }
    .third-section h1{
        font-size: 30px;
    }
    .section-content{
        padding: 0px 30px;
        width: 75%;
        margin: 40px 0px 0px 0px;
    }
    .third-wrapper img{
        height:100%;
        width: 75%; 
    }

    .section-content img{
        height: 100%;
        width: 40%;
    }
}